body{
    background-image: linear-gradient(to right, rgb(144, 234, 244), rgb(165, 90, 195));
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    font-family: 'Numans', sans-serif;
}
.container{
    height: 800px;
    align-content: center;
}
.card{
    background-color: rgba(32, 28, 28, 0.397) !important;
    height: 800px !important;
}
.col-md-9.pe-5 input[type="text"] {
    background-color: #ffffff88;
}
.col-md-9.pe-5 input[type="password"] {
    background-color: #ffffff88;
}
.col-md-9.pe-5 input[type="file"] {
    background-color: #ffffff88;
}
.reg{
    margin-left: 40px;
}
.sentence{
    margin-top: 40px;
    position: relative;
    top: 110px;
    left: 220px;
}
.picture-line{
    position: relative;
    bottom: 45px;
}
img{
    width: 15%;
    height: auto;
    position: relative;
    bottom: 170px;
    left: 35px;
}
.btn{
    position: relative;
    top: 60px;
    right: 5px;
    width: 130px;
}
a:active{
    color: aqua;
}
#link-aqua{
    color: aqua !important;
}
.inputBlock{
    flex:1 1 0%;
    background-color: rgba(10, 10, 10, 0.277);
    padding: 1rem;
    width: 600px;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    position: relative;
    left: 220px;
    bottom: 2px;
}
.inputBlock::placeholder{
    font-weight: bold;
    color: rgba(206, 206, 206, 0.926);
}
#pic{
    position: relative;
    bottom: 20px !important;
}
.mb-0{
    position: relative;
    top: 35px;
    left: 35px;
}
#formFileLg{
    background-color: rgba(10, 10, 10, 0.277);
    padding: 1rem;
    width: 600px;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}
