* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-image: linear-gradient(to right, rgb(144, 234, 244), rgb(165, 90, 195));
    -webkit-background-clip: text;
    font-family: 'Numans', sans-serif;
}
.regWindow {
    height: 300px;
    width: 50%;
    left: 25%;
    position: fixed;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;

    margin-top: 30px;
    display: flex;
    flex-direction: column;

    background: rgba(88, 83, 83, 0.367);
}
form div{
    font: 20px bold;
    background-image: linear-gradient(to right, rgb(37, 37, 37), rgb(194, 194, 194));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}
.inputBlock{
    flex:1 1 0%;
    background-color: rgba(10, 10, 10, 0.277);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    position: relative;
    left: 100px;
}
.inputBlock::placeholder{
    font-weight: bold;
    color: rgba(206, 206, 206, 0.926);
}
.mb-0{
    position: relative;
    top: 40px;
}
.backTo{
    position: relative;
    left: 35px;
}
#link-aqua{
    color: aqua !important;
}
